/* media query*/
/* 화면 너비 0 ~ 1600px */
@media (max-width: 1600px){
    #home {
        width: 100%;
        overflow: hidden;
    }
}
/* 화면 너비 0 ~ 1220px */
@media (max-width: 1220px){
    #contents .section3 .skill ul .skill_img03 {
        width: 30%;
    }
    
    #contents .section3 .skill ul li img {
        width: 26%;
    }
}
/* 화면 너비 0 ~ 1024px */
@media (max-width: 1024px){
  
}

/* 화면 너비 0 ~ 960px */
@media (max-width: 960px){
    #home .main_h1 h1 a img {
        width: 80%;
    }
    #home #main_gnb ul li a {
        font-size: 60px;
    }
    
}

/* 화면 너비 0 ~ 768px */
@media (max-width: 768px){
    #home .main_h1 h1 a img {
        width: 60%;
    }
    #home #main_gnb ul li a {
        font-size: 55px;
    }
    #home #main_gnb {
        top: 350px;
    }    

    #nav {
        background-color: rgba(255,255,255,1);
        height: 100%;
        width: 45%;
        padding: 40px;
        left: 60%;
        z-index: 998;
        text-align: center;
        box-shadow: -4px 0px 10px rgba(0,0,0,0.4)
    }

    #nav .nav_01 ul li a {
        color: black;
    }

    .btn-toggle,
    .btn-close {
        display: block;
        position: absolute;
        border: none;
        background: none;
    }
    .btn-toggle {
        right: 5%;
    }
    .btn-close{
        right: 24%;
    }
   

    .btn-toggle.show {
        z-index: 995;    
    }

    .btn-close {
        z-index: 999;
    }

    .btn-toggle img,
    .btn-close img {
        width: 50px;
    }

    #contents .section1 h2, #contents .section5 h2, #contents .section7 h2 {
        font-size: 70px;
    }

    #contents .section6 h2 {
        font-size: 60px;
    }
    #contents .section3 .skill ul .skill_img03 {
        width: 40%;
    }
    
    #contents .section3 .skill ul li img {
        width: 40%;
    }


}

/* 화면 너비 0 ~ 600px */
@media (max-width: 600px){
    #home .main_h1 h1 a img {
        width: 50%;
    }
    #home #main_gnb ul li a {
        font-size: 40px;
    }    
    #home #main_gnb {
        top: 380px;
    }    

}

/* 화면 너비 0 ~ 480px */
@media (max-width: 480px){
    #home {
        background-image: url(../img/backgrund_img_mobile.jpg);
        width: 100%;
        height: 736px;
    }
    #home .container {
        width: 100%; height: 100%;
    }
    #home .main_h1 h1 a img {
        width: 80%;
    }
    #home #main_gnb ul li a {
        font-size: 40px;
    }    
    #home #main_gnb {
        top: 340px;
        padding-left: 20%;
    }    
    #home .main_h1 {
        padding-left: 20%;
    }

    .btn-toggle img,
    .btn-close img {
        width: 45px;
    }
    
    .btn-toggle {
        right: 5%;
    }
    .btn-close {
        right: 10%;
    }

    #nav {
        width: 60%;
        padding: 30px;
        left: 40%;
        z-index: 998;
        text-align: center;
    }

    #nav .nav_01 ul li a {
        font-size: 25px;
    }

    #contents {
        width: 100%;
    }

    #contents .section1 h2{
        font-size: 60px;
    }
    #contents .section3 .skill h3,
    #contents .section4 .license h3,
    #contents .section2 .profile h3 {
        font-size: 35px;
    }

    #contents .section3 .skill ul li,
    #contents .section4 .license ul li,
    #contents .section2 .profile ul li  {
        font-size: 20px;
    }

    #contents .section5 h2 {
        font-size: 50px;
    }
    #contents .section6 h2, #contents .section7 h2 {
        font-size: 35px;
    }

    #contents .section3 .skill ul .skill_img03 {
        width: 230px;
    }
    
    #contents .section3 .skill ul li img {
        width: 200px;
    }

}

/* 화면 너비 0 ~ 320px */
@media (max-width: 320px){
    #contents .section1 h2, #contents .section5 h2, #contents .section6 h2, #contents .section7 h2{
        font-size: 30px;
    }

}