/* style.css */



#home {
    color: #141414;
    background-image: url(../img/backgrund_img.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    /* background-repeat: no-repeat; */
}

#main_gnb ul li a {
    color: #fff;
    font-family: "Cafe24Decoshadow";
    font-size: 70px;
}

#main_gnb ul li a:hover {
    border-bottom: 4px solid #fff;
}

.container {
    /* border: 2px solid red; */
    position: relative;
    max-width: 1600px;
    margin-left: 160px;
    margin-right: 160px;
}

.container .main_h1 {
    margin-bottom: 170px;
    margin-top: 180px;
}

.container nav ul li {
    margin-bottom: 35px;
}

/* 액션 효과 */

.action {
    border-bottom: 3px solid #fff;
}

/* sub about */

#about {
    background-color: #141414;
}

#about .container {
    position: relative;
    max-width: 1600px;
    margin-left: 160px;
    margin-right: 160px;
    /* border: 2px solid red; */
}

#about #sub_header {
    height: 80px;
    position: fixed;
    width: 100%;
    background: #141414;
    z-index: 999;
    box-shadow: 4px 3px 4px;
    
}
#about #gnb {
    /* outline: 1px solid red; */
    position: absolute;
    right: 130px;
    top: 30px;
}

#about #gnb > ul > li {
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 400;
    font-family: "Cafe24Decoshadow";
    text-transform: uppercase;
    font-size: 25px;
}

#about #gnb > ul > li > a {
    color: #fff;
}

#about #gnb > ul > li > a:hover {
    border-bottom: 3px solid #fff;
}

#about #sub_header h1 a img {
    position: absolute;
    top: 19px;
}

#about .sub_about h1 {
    font-family: "Cafe24Decoshadow";
    position: relative;
    top: 150px;
    text-align: center;
    /* border: 2px solid yellow; */
    font-size: 50px;
    color: #fff;
}

#about .sub_about .container .profile_img01 img {
    position: absolute;
    top: 280px; left: 300px;
}

#about .sub_about .container .profile_img02 img {
    position: absolute;
    top: 300px; left: 350px;
}

#about .sub_about .profile {
    /* border: 2px solid yellow; */
    position: relative;
    width: calc((1600px / 2 ) - 100px);
    top: 300px; left: 900px;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
}

#about .sub_about .profile h2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
}

#about .sub_about .profile ul li {
    font-size: 30px;
    font-weight: 300;
}

#about #skill {
    position: relative;
    top: 600px;
}

#about #skill div {
    height: 500px;
    position: absolute;
    left: 500px;
    font-family: 'Noto Sans KR', sans-serif;
}

#about #skill div ul li {
    /* outline: 2px solid yellow; */
    color: #fff;
    margin-right: 200px;
    font-weight: 300;
}

#about #skill div ul {
    float: left;
    text-align: center;
    font-size: 35px;
   
}

#about #skill div ul li:first-child {
    font-size: 40px;
    border-bottom: 3px solid #fff;
    font-weight: 700;
}

/* 워크 */

#works {
    position: relative;
    top: 150px;
    width: 1600px;
    /* margin-left: 160px;
    margin-right: 160px; */
}

#works .container h2 {
    font-family: "Cafe24Decoshadow";
    font-size: 50px;
    position: relative;
    /* border: 2px solid yellow; */
    text-align: center;
    color: #fff;
    margin-bottom: 80px;
}

#works .container .tab-group {
    position: relative;
    text-align: center;
}

#works .container .tab-group button {
    background: none;
    border: none;
    color: #fff;
    font-size: 25px;
    /* margin-left: 20px; */
    margin-right: 50px;
    margin-bottom: 100px;
}

/* 작품목록 */

.ccol_1 {
    position: relative;
    /* width: calc((100% / 12 * 3)); */
    /*outline: 2px solid red;*/
  
}

#works .list li img {
    width: 40vh;
    /* outline: 2px solid red; */
    display: table;
    float: left;
}

#works .list li img:hover {
    background: rgb(83, 83, 83);
}

#works .list {
    /* outline: 2px solid red; */
    position: relative;
    width: 1400px;
    margin-left: 320px;
    margin-right: 200px;
}

/* 연락처 */

#about .sub_contact h1 {
    font-family: "Cafe24Decoshadow";
    position: relative;
    /* border: 2px solid yellow; */
    text-align: center;
    top: 150px;
    font-size: 50px;
    color: #fff;
}

#about .sub_contact .profile {
    /* border: 2px solid yellow; */
    position: relative;
    text-align: center;
    top: 300px;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
}

#about .sub_contact .profile h2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
}

#about .sub_contact .profile ul li {
    font-size: 30px;
    font-weight: 300;
}

/* 햄버거 바 버튼 */

#about #sub_header .btn-toggle,
#about #sub_header .btn-close {
    /* border: 2px solid red; */
    z-index: 999;
    position: absolute;
    right: 0;
    top: 20px;
    display: none;
}

/* 애니메이션 효과 */

#home .container h1 a img {
    animation-name: main_banner;
    animation-duration: 7s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
}

@keyframes main_banner {
    from { transform: scale(0.9); }
    to {transform: scale(1.0); }

}
