/* works의 서브 페이지 css */

/* 전체 */

.w_container {
    position: relative;
    width: 1600px;
    margin: 0 auto;
}


/* invitess 구도잡기*/
#w_invitees section:nth-child(1) {
    width: 100%; height: 1000px; background-color: #7ecbfd;
}
#w_invitees section:nth-child(2) {
    width: 30%; height: 1000px; background-color: rgb(53, 53, 53);
    float: right;
}
#w_invitees section:nth-child(3) {
    width: 70%; height: 500px; background-color: rgb(255, 255, 255);
    float: right;
}
#w_invitees section:nth-child(4) {
    width: 70%; height: 500px; background-color: rgb(255, 255, 255);
    float: right;
}
#w_invitees section:nth-child(5) {
    /* background-image: url(../img/invitees_img07.png); */
    width: 100%; background-color: rgb(145,145,145);
    clear: both;
}
#w_invitees section:nth-child(6) {
    width: 100%; height: 700px; background-color: rgb(255, 255, 255);
}

#w_invitees section:nth-child(7) {
    width: 100%;  background-color: rgb(145,145,145);

} 


/* w_sub_mbinvitees 구간 */

#w_sub #w_invitees {
    width: 100%; margin: 0 auto;
}

#w_sub #w_invitees .title_1 {
    position: relative;
    top: 300px;
}
#w_sub #w_invitees .title_1 h1 {
    color: #fff;
    font-size: 100px;
    font-weight: 800;
    margin-bottom: -30px;
    transition: all 0.82s ease;
}
#w_sub #w_invitees .title_1 h2 {
    color: #fff;
    font-size: 90px;
    font-weight: 700;
    transition: all 0.82s ease;
}
#w_sub #w_invitees .title_1 p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-top: 100px;
}
#w_sub #w_invitees .title_1 h2:hover,
#w_sub #w_invitees .title_1 h1:hover {
    color: rgb(72, 97, 236);
}

#w_sub #w_invitees .title_2 .m_row img {
    width: 90%;
   margin: 0 5% 0 5%;;
   transition: all 0.85s ease;
}

#w_sub #w_invitees .title_3 {
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    clear: both;
}

#w_sub #w_invitees .title_3 .m_row div {
    position: relative;
    width: 33.333%;
    top: 200px;
    float: left;
    text-align: center;
    /* border: 2px solid red; */
}

#w_sub #w_invitees .title_3 .m_row div h1 {
    font-weight: 700;
    font-size: 26px;
}

#w_sub #w_invitees .title_3 .m_row div p {
    font-weight: 400;
    font-size: 18px;
}
#w_sub #w_invitees .title_4 {
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    clear: both;
}

#w_sub #w_invitees .title_4 .m_row div {
    position: relative;
    margin-right: 1%;
    width: 32.333%;
    top: 100px;
    float: left;
    text-align: center;
    /* border: 2px solid red; */
}
#w_sub #w_invitees .title_4 .m_row div:nth-child(2) {
    background-color: #fff;
    height: 180px;
    padding: 3%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#w_sub #w_invitees .title_4 .m_row div:nth-child(3) {
    background-color: #000;
    height: 180px;
    padding: 3%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#w_sub #w_invitees .title_4 .m_row div:nth-child(3) h3,
#w_sub #w_invitees .title_4 .m_row div:nth-child(3) p {
 color: #fff;
}

#w_sub #w_invitees .title_4 .m_row div:nth-child(4) {
    margin-right: none;
    background-color: #f26979;
    height: 180px;
    padding: 3%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}


#w_sub #w_invitees .title_4 .m_row div h3 {
    font-size: 18px;
}
#w_sub #w_invitees .title_4 .m_row div p {
    font-size: 20px;
    font-weight: 500;
}

#w_sub #w_invitees .title_4 .m_row h2 {
    font-weight: 700;
    font-size: 26px;
    text-align: center;
}

#w_invitees section:nth-child(5) img {
    width: 100%; height: 100%;
}

#w_sub #w_invitees .title_5 {
    position: relative;
    top: 200px;
}
#w_sub #w_invitees .title_5 h1 {
    color: rgb(72, 97, 236);
    font-size: 70px;
    font-weight: 800;
    margin-bottom: -30px;
    transition: all 0.82s ease;
}
#w_sub #w_invitees .title_5 p {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 300;
    margin-top: 120px;
}
#w_sub #w_invitees .title_5 h2:hover,
#w_sub #w_invitees .title_5 h1:hover {
    color: rgb(0, 0, 0);
}

/* pfizer.css */

/* 구도잡기*/
#w_pfizer section:nth-child(1) {
    width: 100%; height: 1000px; background-color: #61ebc8;
}
#w_pfizer section:nth-child(2) {
    width: 100%; background-color: #1d1d1d;
}
#w_pfizer section:nth-child(3) {
width: 100%; height: 400px; background-color: #ffffff;
}
#w_pfizer section:nth-child(4) {
    width: 100%; height: 400px; background-color: #ffffff;
}
#w_pfizer section:nth-child(5) {
    width: 100%; background-color: #373737;
}

/* 구도잡기 끝 */
#w_sub #w_pfizer {
    width: 100%; margin: 0 auto;
}

#w_sub #w_pfizer .title_1 {
    position: relative;
    top: 300px;
}
#w_sub #w_pfizer .title_1 h1 {
    color: #fff;
    font-size: 100px;
    font-weight: 800;
    margin-bottom: -30px;
    transition: all 0.82s ease;
}
#w_sub #w_pfizer .title_1 h2 {
    color: #fff;
    font-size: 90px;
    font-weight: 700;
    transition: all 0.82s ease;
}
#w_sub #w_pfizer .title_1 p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-top: 100px;
}
#w_sub #w_pfizer .title_1 h2:hover,
#w_sub #w_pfizer .title_1 h1:hover {
    color: rgb(8, 138, 99);
}

#w_sub #w_pfizer .w_container .title_2 {
    position: relative;
}

#w_sub #w_pfizer .w_container .m_row .title_2 div {
    position: relative;
    width: 33.333%;
    top: 150px;
    float: left;
    text-align: center;
    /* border: 2px solid red; */
}

#w_sub #w_pfizer .w_container .m_row .title_2 div h1 {
    font-weight: 700;
    font-size: 26px;
}

#w_sub #w_pfizer .w_container .m_row .title_2 div p {
    font-weight: 400;
    font-size: 18px;
}
#w_sub #w_pfizer .title_3 {
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    clear: both;
}

#w_sub #w_pfizer .title_3 div {
    position: relative;
    margin-right: 1%;
    width: 32.333%;
    top: 100px;
    float: left;
    text-align: center;
    /* border: 2px solid red; */
}
#w_sub #w_pfizer .title_3 div:nth-child(2) {
    background-color: #fff;
    height: 180px;
    padding: 3%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#w_sub #w_pfizer .title_3 div:nth-child(3) {
    background-color: #000;
    height: 180px;
    padding: 3%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#w_sub #w_pfizer .title_3 div:nth-child(3) h3,
#w_sub #w_pfizer .title_3 div:nth-child(3) p {
 color: #fff;
}

#w_sub #w_pfizer .title_3 div:nth-child(4) {
    margin-right: none;
    background-color: #4c81bf;
    height: 180px;
    padding: 3%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}


#w_sub #w_pfizer .title_3 div h3 {
    font-size: 18px;
}
#w_sub #w_pfizer .title_3 div p {
    font-size: 20px;
    font-weight: 500;
}

#w_sub #w_pfizer section .title_3 h2 {
    font-weight: 700;
    font-size: 26px;
    color: #000;
    text-align: center;
}

/* soodam.css */

/* 구도잡기*/
#w_soodam section:nth-child(1) {
    width: 100%; height: 1000px; background-color: #fc997a;
}
#w_soodam section:nth-child(2) {
    width: 100%; background-color: #555555;
}
#w_soodam section:nth-child(3) {
    width: 100%; height: 700px; background-color: rgb(255, 255, 255);
    
}
#w_soodam section:nth-child(4) {
    width: 100%; height: 400px; background-color: rgb(255, 255, 255);
}
#w_soodam section:nth-child(5) {
    width: 100%; height: 500px; background-color: rgb(255, 255, 255);
}
#w_soodam section:nth-child(6) {
    width: 100%; height: 800px; background-color: rgb(241, 123, 123);
}
#w_soodam section:nth-child(7) {
    width: 100%;  background-color: rgb(154, 154, 154);

}
/* 구도잡기 끝 */

#w_sub #w_soodam {
    width: 100%; margin: 0 auto;
}

#w_sub #w_soodam .title_1 {
    position: relative;
    top: 300px;
}
#w_sub #w_soodam .title_1 h1 {
    color: #fff;
    font-size: 100px;
    font-weight: 800;
    margin-bottom: -30px;
    transition: all 0.82s ease;
}
#w_sub #w_soodam .title_1 h2 {
    color: #fff;
    font-size: 90px;
    font-weight: 700;
    transition: all 0.82s ease;
}
#w_sub #w_soodam .title_1 p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-top: 100px;
}
#w_sub #w_soodam .title_1 h2:hover,
#w_sub #w_soodam .title_1 h1:hover {
    color: rgb(155, 49, 16);
}
#w_sub #w_soodam .title_2 {
    position: relative;
    top: 100px;
}

#w_sub #w_soodam .title_2 h1 {
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    margin-bottom: 80px;
}

#w_sub #w_soodam .title_2 .trans .ease-in-out {
    transition-timing-function: ease-in-out;
    background: #fc997a;
}
#w_sub #w_soodam .title_2 ul.trans {
    /* padding: 0 200px 0 450px; */
    padding: 0 5% 0 30%;
    /* border: 2px solid rgba(0, 0, 0,0.3); */
    /* background-color: #ffffff; */
  }
#w_sub #w_soodam .title_2  .trans > li {
    list-style-type: none;
    width: 100px;
    height: 60px;
    margin: 30px;
    font-size: 16px;
    transition-duration: 2s;
}

/* 그래픽 */

#w_sub #w_soodam .title_2 .trans:hover > li:nth-child(1) {
    width: 500px;
}
#w_sub #w_soodam .title_2 .trans:hover > li:nth-child(2) {
    width: 150px;
}
#w_sub #w_soodam .title_2 .trans:hover > li:nth-child(3) {
    width: 600px;
}
#w_sub #w_soodam .title_2 .trans:hover > li:nth-child(4) {
    width: 600px;
}

  #w_sub #w_soodam .w_container .title_3 {
    position: relative;
}

#w_sub #w_soodam .w_container .title_3 .m_row div {
    position: relative;
    width: 33.333%;
    top: 150px;
    float: left;
    text-align: center;
    /* border: 2px solid red; */
}
#w_sub #w_soodam .w_container .title_3 .m_row div h1 {
    font-weight: 700;
    font-size: 26px;
}

#w_sub #w_soodam .w_container .title_3 .m_row div p {
    font-weight: 400;
    font-size: 18px;
}
#w_sub #w_soodam .title_3 {
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    clear: both;
}
#w_sub #w_soodam .title_4 .m_row {
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    clear: both;
}

#w_sub #w_soodam .title_4 .m_row div {
    position: relative;
    margin-right: 1%;
    width: 49%;
    top: 100px;
    float: left;
    text-align: center;
    /* border: 2px solid red; */
}
#w_sub #w_soodam .title_4 .m_row div:nth-child(2) {
    background-color: #fff;
    height: 180px;
    padding: 3%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#w_sub #w_soodam .title_4 .m_row div:nth-child(3) {
    background-color: #000;
    height: 180px;
    padding: 3%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#w_sub #w_soodam .title_4 .m_row div:nth-child(3) h3,
#w_sub #w_soodam .title_4 .m_row div:nth-child(3) p {
 color: #fff;
}

/* #w_sub #w_soodam .title_4 .m_row div:nth-child(4) {
    margin-right: none;
    background-color: #4c81bf;
    height: 180px;
    padding: 3%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
} */


#w_sub #w_soodam .title_4 .m_row div h3 {
    font-size: 18px;
}
#w_sub #w_soodam .title_4 .m_row div p {
    font-size: 20px;
    font-weight: 500;
}

#w_sub #w_soodam .title_4 h2 {
    font-weight: 700;
    font-size: 26px;
    color: #000;
    text-align: center;
}
#w_sub #w_soodam .w_container .title_5 {
    position: relative;
    top: 100px;
}
#w_sub #w_soodam .title_5 h2 {
    color: #fff;
    font-size: 100px;
    font-weight: 800;
    margin-bottom: -30px;
    transition: all 0.82s ease;
}
#w_sub #w_soodam .title_5 h2:hover {
    color: rgb(155, 49, 16);
}
#w_sub #w_soodam .title_5 p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-top: 100px;
}
