/* sub_media query*/
/* 화면 너비 0 ~ 1600px */
@media (max-width: 1600px){
    #w_sub .m_row {
        margin-left: 5%;
        margin-right: 5%;
    }
    #w_sub .w_container {
        width: 100%;
    }
    #w_sub #w_invitees section .title_3 .m_row {
     padding: none;
     margin: none;
    }
    #w_sub #w_invitees section .title_3 .m_row div {
        width: 30%;
        top: 200px;
        /* border: 2px solid red; */
    }
    #w_sub #w_invitees .title_2 .m_row img {
        position: relative;
        width: 90%;
        top: 150px;
    }
    #w_sub #w_invitees section .title_3 .m_row div h1{
        font-size: 20px;
    }
    #w_sub #w_invitees section .title_3 .m_row div p {
        font-size: 18px;
    }
}

/* 화면 너비 0 ~ 1220px */
@media (max-width: 1220px){
   #w_sub #w_invitees section:nth-child(2) {
        width: 100%; height: 1000px;
        overflow: hidden;
    }
    #w_sub #w_invitees section .title_2 .m_row img {
        width: 40%;
        margin-left: 30%;
        top: 50px;
    }
    #w_sub #w_invitees section:nth-child(3) {
        width: 100%;

    }
    #w_sub #w_invitees section:nth-child(4) {
        width: 100%; 
    }
 
}
/* 화면 너비 0 ~ 1024px */
@media (max-width: 1024px){
    #w_sub #w_invitees section .title_1 h1 {
        font-size: 80px;
        margin-bottom: -10px;
    }
    #w_sub #w_invitees section .title_1 h2 {
        font-size: 66px;
        font-weight: 700;
        transition: all 0.82s ease;
    }
    #w_sub #w_invitees section .title_1 p {
        font-size: 18px;      
        margin-top: 130px;
    }
    #w_sub #w_invitees section .title_2 .m_row img {
        width: 50%;
        margin-left: 30%;
        top: 50px;
    }
  
}

/* 화면 너비 0 ~ 960px */
@media (max-width: 960px){
    #w_sub #w_invitees section .title_2 .m_row img {
        width: 50%;
        margin-left: 20%;
        top: 50px;
    }
    #w_sub #w_invitees section .title_3 .m_row div {
        width: 100%;
        top: 100px;
        display: block;
        margin-top: 30px
        /* border: 2px solid red; */
    }
    
}

/* 화면 너비 0 ~ 768px */
@media (max-width: 768px){
    #w_sub #w_invitees section .title_1 h1 {
        font-size: 60px;
        text-align: center;
    }
    #w_sub #w_invitees section .title_1 h2 {
        font-size: 54px;
        text-align: center;

    }
    #w_sub #w_invitees section .title_1 p {
        font-size: 16px;      
        margin-top: 130px;
        text-align: center;
    }
    #w_sub #w_invitees section .title_2 .m_row img {
        width: 70%;
        margin-left: 14.5%;
        top: 50px;
    }
  
}

/* 화면 너비 0 ~ 600px */
@media (max-width: 600px){
 

}

/* 화면 너비 0 ~ 480px */
@media (max-width: 480px){
    #w_sub #w_invitees section .title_1 h1 {
        font-size: 36px;
        margin-bottom: 0;
    }
    #w_sub #w_invitees section .title_1 h2 {
        font-size: 30px;
    }
    #w_sub #w_invitees section .title_1 p {
        font-size: 12px;      
        margin-top: 150px;
    }
    #w_sub #w_invitees section:nth-child(1) {
        width: 100%; height: 736px; background-color: #7ecbfd;
    }
    #w_sub #w_invitees section .title_1 {
        top: 200px;
    }
    #w_sub #w_invitees section:nth-child(2) {
        height: 740px; 
    }
    #w_sub #w_invitees section .title_2 .m_row img {
        width: 80%;
        margin-left: 10.5%;
        top: 80px;
    }
    #w_sub #w_invitees section .title_4 .m_row h2 {
        margin-bottom: -50px;
    }
    #w_sub #w_invitees section .title_4 .m_row div h3 {
        margin-top: 30px;
        font-size: 14px;
    }
    
    #w_sub #w_invitees section .title_4 .m_row div p {
        font-size: 12px;
    }
    #w_sub #w_invitees section .title_4 {
        top: 100px;
    }
  
}

/* 화면 너비 0 ~ 320px */
@media (max-width: 320px){


}